{% extends 'base.html.twig' %}
{% trans_default_domain "NegasProjectTrans" %}
{% block body %}
    <div class='datatable'>
        <h1 class='m-auto p-5'>Index de gestion des commandes</h1>
        <div class='datatable_content'>
            {{ include('Layout/_datatable.html.twig', {"subject" : "orders"}) }}
        </div>
        <div class="button">
            <a href='{{ path('home_user', {'id' : app.user.id}) }}' class='btn btn-primary float-left'>{{ "button.return"| trans }}</a>
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

