{{ form_start(form) }}
        {{ form_row(form.Status, {"attr" : {"class": "form-control mb-2 browser-default"}}) }}
    <button class="btn btn-light-blue">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}