{% trans_default_domain "NegasProjectTrans" %}
{{ form_start(formReport) }}
<div class="md-form">
   {{ form_widget(formReport.subject) }}
   {{ form_label(formReport.subject) }}
</div>
{{ form_end(formReport) }}

