{% extends 'base.html.twig' %}
{% trans_default_domain "NegasProjectTrans" %}
{% block title %}Creation d'un stocks{% endblock %}

{% block body %}
    <div class="d-flex">
        <a href="{{ path('admin_stock_index') }}">
            <div class="btn btn-primary">Retour</div>
        </a>
        <div class="h1 m-auto"><div class="btn btn-success">Création d'un élément</div> Stock</div>
    </div>
    {{ include('Admin/stock/_form.html.twig') }}
{% endblock %}
