{% extends 'base.html.twig' %}
{% trans_default_domain "NegasProjectTrans" %}
{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row text-center">
            <div class="col-md-10 m-auto border shadow p-5 rgba-blue-grey-light">
                <h1 class="mb-5">{{ "contact.title.new"| trans }}</h1>
                <div class="form d-flex justify-content-between">
                    {% include('Public/contact/_form.html.twig') %}
                </div>
                <div class="button">
                    <a href='{{ path('home') }}' class='btn btn-primary float-left'>{{ "button.return"|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
