{% trans_default_domain "NegasProjectTrans" %}
{% extends "base.html.twig" %}
{% block body %}
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at aut consectetur delectus deserunt, dolor earum exercitationem explicabo ipsam labore provident quisquam, recusandae. Commodi, mollitia officia qui quisquam velit vitae!
    <div class="datatable formulary w-100">
        <h5 class="card-header text-center py-4">
            <strong>{{ "package.title.edit_status"|trans }}</strong>
        </h5>
        <div class="datatable_content">
            {{ include('Admin/package/_form.html.twig') }}
        </div>
    </div>
{% endblock %}

