{% extends "base.html.twig" %}
{% trans_default_domain "NegasProjectTrans" %}
{% block body %}

    <div class="datatable">
        <h5 class="card-header text-center py-4">
            <strong>Index de gestion des packaging</strong>
        </h5>
        <div class="datatable_content">
            {{ include('Layout/_datatable.html.twig', {subject : "packaging"}) }}
            <div class="button">
                <a href="{{ path('admin_package_new') }}" class="btn btn-success text-white">Création d'un élément</a>
                <a href="{{ path('admin_home') }}" class="btn btn-primary">Retour</a>
            </div>
        </div>
    </div>
{% endblock %}
