{% extends 'base.html.twig' %}
{% trans_default_domain "NegasProjectTrans" %}
{% block body %}
    <div class="datatable formulary">
        <h5 class="card-header text-center py-4">
            <strong>Nouveau type de package</strong>
        </h5>
        <div class="form_content">
            {{ include('Admin/package/_form.html.twig') }}
        </div>
    </div>
{% endblock %}

