{% extends 'base.html.twig' %}
{% trans_default_domain "NegasProjectTrans" %}
{% block title %}{{ "orders.title.index"| trans }}{% endblock %}

{% block body %}
    <div class="datatable">
        <h5 class="card-header text-center py-4">
            <strong>{{ "orders.title.index"| trans }}</strong>
        </h5>
        <div class="datatable_content">
           {{ include('Layout/_datatable.html.twig', {subject: "order"}) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}

