{% extends 'base.html.twig' %}

{% block title %}Édition de la News "{{ news.title }}"{% endblock %}

{% block body %}
    <div class="datatable formulary">
        <h5 class="card-header text-center py-4">
            <strong>Édition de la News "{{ news.title }}"</strong>
        </h5>
        <div class="form_content">
            {{ include('Admin/news/_form.html.twig', {'button_label': 'Update'}) }}
            {{ include('Admin/news/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
