{% extends 'base.html.twig' %}
{% trans_default_domain "NegasProjectTrans" %}
{% block title %}{{ "product.title.new" | trans }}{% endblock %}
{% block body %}
    <div class="datatable formulary">
        <h5 class="card-header text-center py-4">
            <strong>{{ "product.title.new" | trans }}</strong>
        </h5>
        <div class="datatable_content">
            {% include "Admin/product/_form.html.twig" %}
        </div>
        <div class="button">
            <a href='{{ path('home') }}' class='btn btn-primary float-left'>{{ "button.return"|trans }}</a>
        </div>
    </div>
{% endblock %}

