{% trans_default_domain "NegasProjectTrans" %}
    <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5 text-white">
            <!-- Grid row -->
            <div class="row mt-3">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

                    <!-- Content -->
                    <h6 class="text-uppercase font-weight-bold">Teraneo</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>Teraneo est situées du coté de <a href="https://fr.wikipedia.org/wiki/Canoh%C3%A8s">Rivesaltes</a> et
                        <a href="https://fr.wikipedia.org/wiki/Ille-sur-T%C3%AAt">Illes sur Tet</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Nos Produits</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="#!">Fruit</a>
                    </p>
                    <p>
                        <a href="#!">legumes</a>
                    </p>
                    <p>
                        <a href="#!">Aromate</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Liens pratique</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="<?php if ($_SESSION['auth']): ?>index.php?p=profil.index<?php else: ?>index.php?p=users.login <?php endif; ?>">Votre
                            compte</a>
                    </p>
                    <p>
                        <a href="<?php if ($_SESSION['auth']): ?>index.php?p=users.show<?php else: ?>index.php?p=users.login <?php endif; ?>">Vos
                            Informations</a>
                    </p>
                    <p>
                        <a href="<?php if ($_SESSION['auth']): ?>index.php?p=order.index<?php else: ?>index.php?p=users.login <?php endif; ?>">Vos
                            commandes</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="{{ path('public_contact_new') }}"><i class="fas fa-file-signature mr-3"></i>Nous écrire</a>
                    </p>
                    <p>
                        <a href="https://fr.wikipedia.org/wiki/Canoh%C3%A8s"><i class="fas fa-home mr-3"></i>Toulouges
                            66680</a>
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> info@lesterresdaris.fr
                    </p>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center text-black-50 py-3">© 2019 Copyright:
            <a href="https://www.Lesterresdaris.fr">Teraneo</a>
        </div>
    </div>
    <!-- Copyright -->


